 <div class="dashboard-body">
        <h2>Dashboard</h2>
        <div class="header-card">
            <h1>Welcome {{username}}</h1>
            <span id="your-reservation">Your Reservations.</span>
            <div class="reservation-list">
                <div class="list1">
                    <div class="row">
                        <h4>Recent Bookings</h4>

                    </div>
                    <table class="table">
                        <thead>
                            <th>Reservations</th>
                            <th>Room type</th>
                            <th>Check-in Date</th>
                            <th>Check-out Date</th>
                            <th>Action</th>
                        </thead>
                        <tbody id="reservationDisplay">
                        {{#each users as |user|}} 
                            <tr>
                                <td>{{id}}</td>
                                <td>{{room.room_type}}</td>
                                <td>{{check_in_date}} </td>
                                <td>{{check_out_date}} </td>
                                <td><button class="delete-btn delete-reservation-btn" data-id="{{id}}">delete</button></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                   
                </div>
                 {{!-- <div class="col-md-4 mb-4">
                        <div class="card" id="reservation-detail">
                          <img src="https://via.placeholder.com/400x200.png" class="card-img-top" alt="{{this.name}}">
                          <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.location}}</p>
                            <p class="card-text">{{this.description}}</p>
                
                          </div>
                        </div>
                      </div> --}}
            </div>
        </div>
    </div>


   



