<div class="container">
        <h1 class="text-center my-4 " id="user-dashboard">User Dashboard</h1>
        <h2>Active Reservations</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>{{Reservations.id}}</th>
                    <th>{{user.name}}</th>
                    <th>{{checkin-date}} </th>
                    <th>{{checkout-date}} </th>
                    <th>{{room-type}}</th>
                    <th>Status</th>
                </tr>
            </thead>