 <div class="dashboard-body">
        <h2>Dashboard</h2>
        <div class="header-card">
            <h1>Welcome {{username}} </h1>
            <span id="your-reservation">Your Reservations.</span>
            <div class="reservation-list">
                <div class="list1">
                    <div class="row">
                        <h4>Recent Bookings</h4>

                    </div>
                    <table class="table">
                        <thead>
                            <th>Reservations</th>
                            <th>Name</th>
                            <th>Check-in </th>
                            <th>Check-out </th>
                            <th>Room type</th>
                        </thead>
                    </table>
                    <tr>
                        <td>{{Reservations.id}}</td>
                        <td>{{username}}</td>
                        <td>{{checkin-date}} </td>
                        <td>{{checkout-date}} </td>
                        <td>{{room-type}}</td> <button class="update-btn">Update</button><button class="delete-btn">delete</button>
                        </tr>
                    </table>
                   
                </div>
                 <div class="col-md-4 mb-4">
                        <div class="card" id="reservation-detail">
                          <img src="https://via.placeholder.com/400x200.png" class="card-img-top" alt="{{this.name}}">
                          <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.location}}</p>
                            <p class="card-text">{{this.description}}</p>
                
                          </div>
                        </div>
                      </div>
            </div>
        </div>
    </div>


   



