
<div class="container mt-5">
  <h4 class="main-page-title">To see the rooms of each branch, click on it.</h4>
  <div class="row">  
    {{#each branches}}
      <div class="col-md-4 mb-4">
        <a href="/api/branches/{{this.id}}/rooms">
        <div class="card">
          <img src="{{this.image_path}}" width="250" height="200" class="card-img-top" alt="{{this.name}}">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.location}}</p>
            <p class="card-text">{{this.description}}</p>

          </div>
        </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>
